<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

        * {
            margin: 0;
            padding: 0;
            color: white;
            font-family: 'Oxygen', sans-serif;
        }

        html {
            height: 100%;
        }

        body {
            height: 100%;
            background: #212325;
        }

        header {
            width: 100%;
            height: 125px;
            background: #272a2c;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 0;
        }

        footer {
            width: 100%;
            height: 125px;
            background: #272a2c;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            bottom: 0;
        }

        h1 {
            font-size: 2.5em;
        }

        .shrink {
            width: 93%;
        }

        #chat {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #msg-box {
            width: 93%;
            height: 50px;
            padding: 5px;
            border: none;
            border-radius: 10px;
            outline: none;
            background: #212325;
            min-height: 0;
        }

        #chat ul {
            min-height: 0;
            height: calc(100% - 275px);
            width: 93%;
            list-style: none;
            display: flex;
            flex-direction: column-reverse;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        #chat ul li {
            width: 100%;
            padding: 5px;
        }

        .tag {
            color: white;
            border-radius: 5px;
            padding: 2px 2px 2px 2px;
            margin: 0 5px 0 0;
        }

        .author {
            background: rgb(119, 0, 255);
        }

        .recip {
            background: rgb(87, 87, 87);
        }
    </style>
</head>
<body>
    <header>
        <div class="shrink">
            <h1><%= recip.username %></h1>
        </div>
    </header>
    <section id="chat">
        <ul>
        <% posts.forEach(post => {%>
            <% if (post.author == user.uuid) { %>
            <li>
                <span class="tag author"><%= user.username %></span>
                <%= post.content %>
            </li>
            <% } else { %>
                <li>
                    <span class="tag recip"><%= recip.username %></span>
                    <%= post.content %>
                </li>
            <% } %>
        <% }); %>
        </ul>
    </section>
    <footer>
        <input type="text" name="" id="msg-box" placeholder="Message...">
    </footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js"></script>
    <script>
        const socket = io()
        socket.on('new msg', msg => {
            if (msg.author == '<%= user.uuid %>') {
                $('#chat ul').prepend($(`<li><span class="tag author"><%= user.username %></span>${msg.content}</li>`))
            } else {
                $('#chat ul').prepend($(`<li><span class="tag recip"><%= recip.username %></span>${msg.content}</li>`))
            }
        })

        $(document).ready(() => {
            $('#msg-box').on('keypress', e => {
                if (e.keyCode === 13) {
                    socket.emit('sent msg', 
                    {
                        author: '<%= user.uuid %>', 
                        recipient: '<%= recip.uuid %>', 
                        content: $('#msg-box').val()
                    })
                }
            })
        })

    </script>
</body>
</html>